<!DOCTYPE html>
<header th:fragment="header">
    <h1>Profit Pioneer</h1>
</header>

<section th:fragment="rules-page-link">
    <a href="/rules" class="ubuntu-bold" style="color: white; font-size: x-large; text-transform: uppercase;   text-decoration-line: underline;
  text-decoration-style: double;">Game Rules</a>
</section>

<footer th:fragment="footer" class="ubuntu-bold">
    <div class="footer-inside">
        <h2>&copy; 2024 Profit Pioneer developed by Dmytro Maistruk</h2>
    </div>
</footer>
