body {
    margin: 0;

    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #574B60;


    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #3F334D;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
}

.header-inside {
    margin: 20px;
}

footer {
    background: #3F334D;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-inside {
    margin: 10px;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px;
    color: white;
    overflow: scroll;
    overflow-y: auto;
}

.list-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(48, 48, 48);
    max-width: 300px;
    width: max-content;
    border-radius: 8px;
    padding: 10px;

}

.list-item-header {
    text-transform: uppercase;
    font-weight: bold;
}

.line-description-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.line-description-container > span {
    padding: 5px;
    margin: 0;
    font-size: x-large;
    font-weight: 600;
}

.line-description-container#total-profit > span {
    font-size: xx-large;
}

.game-container {
    margin: 10px;
}

.horizontal-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 10px 0;
}

.game-information {
    padding: 0;
}

.dragging {
    opacity: 0.5;
}

.over {
    border: 0 dashed #000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.button {
    background-color: #3F334D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

    text-transform: uppercase;


    border-radius: 16px;
}

.counter-list {
    max-height: 160px;
    max-width: fit-content;
}

.counter-list img {
    width: 50px;
    height: auto;
}

.counter-list-item {
    padding: 5px;
}