<!DOCTYPE html>
<html
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
    <title>Profit Pioneer</title>
</head>

<section layout:fragment="content">
    <div>
        <span>Turns:</span>
        <span th:text="${@profitPioneerController.getWorkHouse().getTurns()}"></span>
    </div>

    <div class="worker-container">
        <h2>Workers List</h2>
        <div class="list-container">
            <div class="list-item" th:each="workers : ${@profitPioneerController.getWorkHouse().getWorkerList()}"
                 th:attr="id='worker-' + ${workers.getId()}" draggable="true" ondragstart="drag(event)">
                <div class="list-item-header">
                    <span th:text="${workers.getFullName()}"></span>
                </div>
                <div>
                    <div>
                        <span>ID: </span>
                        <span th:text="${workers.getId()}"></span>
                    </div>
                    <div>
                        <span>Payment: </span>
                        <span th:text="${workers.getPayment()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="job-container">
        <h2>Job List</h2>
        <div class="list-container" onchange="addEventListeners()">
            <div class="list-item" th:each="jobs : ${@profitPioneerController.getWorkHouse().getJobList()}"
                 th:attr="id='job-' + ${jobs.getId()}" ondragover="allowDrop(event)" ondrop="drop(event)">
                <div class="list-item-header">
                    <span th:text="${jobs.getJobName()}"></span>
                </div>
                <div>
                    <div>
                        <span>ID: </span>
                        <span th:text="${jobs.getId()}"></span>
                    </div>
                    <div>
                        <span>Capacity: </span>
                        <span th:text="${jobs.getCapacity()}"></span>
                    </div>
                    <div>
                        <span>Hired Workers: </span>
                        <span th:text="${jobs.getAssignedWorkers().size()}"></span>
                    </div>
                    <div>
                        <span>Deal Profit: </span>
                        <span th:text="${jobs.getDealProfit()}"></span>
                    </div>
                    <div th:if="${@jobExtras.isTemporaryJob(jobs)}">
                        <span>Time remain: </span>
                        <span th:text="${@jobExtras.getTemporaryJobTime(jobs)}"></span>
                        <span> refresh/es</span>
                    </div>
                    <div th:if="${@jobExtras.isTemporaryJob(jobs)}">
                        <span>Penalty: </span>
                        <span th:text="${@jobExtras.getPenalty(jobs)}"></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="list-item" ondragover="allowDrop(event)" ondrop="dropToTrashBin(event)" style="width: 10%; height: fit-content; max-height: 160px;">
                <img src="images/trash-can.png" alt="trash can"style="object-fit: scale-down;" />
            </div>
        </div>
    </div>
    <form action="/start-game" th:if="${!@profitPioneerController.isGameStarted()}">
        <input class="button ubuntu-bold" type="submit" value="Start Game"/>
    </form>
    <form action="/reset" th:if="${@profitPioneerController.isGameStarted()}">
        <input class="button ubuntu-bold" type="submit" value="Reset"/>
    </form>
    <div class="profit-container">
        <h2>Total Profit:</h2>
        <h2 th:text="${@profitPioneerController.getWorkHouse().getProfit()}"></h2>
    </div>

    <section th:replace="~{fragments/fragments :: rules-page}"></section>
</section>


</html>