<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/template.html}">
<head>
    <title>Profit Pioneer - Rules</title>
</head>

<section layout:fragment="content" class="game-container">
    <div class="horizontal-line">
        <div class="ubuntu-bold">
            <h1 class="rules-header">
                How to play
            </h1>
        </div>
    </div>

    <div class="horizontal-line article">
        <div>
            <h1 class="article-header">
                Summary Information of Game Task and Definition of Lives
            </h1>
            <span class="article-text">
                    "Profit Pioneer" is a game of strategic worker management and risk assessment.
                By effectively assigning workers to the right jobs and balancing temporary tasks with permanent ones,
                players aim to maximize their profit while managing health risks.
                The player who masters these elements and accumulates the most profit emerges as the ultimate Profit Pioneer.
                In "Profit Pioneer," lives are represented by a health counters.
                Health is a critical aspect of the game as it affects a player’s ability to handle penalties associated with uncompleted temporary jobs.
                If a temporary job is not completed before its timer expires,
                the player loses a predetermined amount of health points.
                The health deduction reflects the stress and cost of missed opportunities.
            </span>
        </div>
        <img src="/images/live-counter.png" alt="Live counter"/>

    </div>
    <div class="horizontal-line article">
        <img src="/images/hire-counter.png" alt="Hire counter"/>
        <div>
            <h1 class="article-header">
                How to Hire Workers
            </h1>
            <span class="article-text">
                Hiring workers is a fundamental aspect of the game.
                The ability to strategically allocate and manage your workforce can significantly impact your overall profit and success
                The drag-and-drop feature in simplifies the process of assigning workers to jobs
                At the beginning of the game, players have access to a pool of available workers.
                Each worker has unique payment(money that you gain)
            </span>
        </div>
    </div>
    <div class="horizontal-line article">
        <div>
            <h1 class="article-header">
                Temporary Jobs
            </h1>
            <span class="article-text">
                Temporary jobs in "Profit Pioneer" are a crucial element that adds depth and excitement to the game.
                These time-sensitive tasks offer higher rewards but come with significant risks if not completed promptly.
                This article delves into the mechanics of temporary jobs, their importance, and strategies to handle them effectively.
                Each temporary job comes with a countdown timer.
                Players must complete the job within this time frame to earn the reward.
                Failing to complete a temporary job on time results in a health penalty.
                The health deduction reflects the cost of missed deadlines and the stress associated with it
            </span>
        </div>
        <img src="/images/time-counter.png" alt="Time counter"/>

    </div>
    <div class="horizontal-line">
        <form action="/">
            <input class="button ubuntu-bold" type="submit" value="Return to Game"/>
        </form>
    </div>
</section>

</html>