<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/template.html}">
<head>
    <title>Profit Pioneer - Statistics</title>
</head>

<section layout:fragment="content">
    <tr><td>File to upload:<input type="file" name="file" WebKitDirectory /></td></tr>

    <div class="horizontal-line">
        <form action="/">
            <input class="button ubuntu-bold" type="submit" value="Return to Game"/>
        </form>
    </div>
</section>

</html>